$color_mercury_approx: #e7e7e7;
$color_celeste_approx: #ccc;
$color_desert_storm_approx: #f8f8f8;
$color_chicago_approx: #5e5e5e;
$color_alto_approx: #ddd;
$color_suva_gray_approx: #888;

/**
 * Navigation Bar
 */
nav.navbar {

	& > .container {
		background-color: #FFFFFF;
		border-bottom: 3px solid $blue;
		
	}

	@media (min-width: $container-width) {

		& > .container {
			height: 125px;
			padding: 20px 20px 0 20px;
			width: $container-width;
		}
	}

	@media (max-width: ($container-width - 1)) {

		& > .container {
			height: 125px;
			width: 100%;
			padding: 20px 20px 0 20px;			
		}
	}

	@media (max-width: 767px) {
		& > .container {
			height: auto;
			padding: 0 10px;			
		}
	}
}

/**
 * Navbar Medtech
 */
.navbar-medtech {

	font-weight: 300;
	font-size: 18px;

	.navbar-brand {
		color: $black;
		&:hover {
			color: $color_chicago_approx;
			background-color: transparent;
		}
		&:focus {
			color: $color_chicago_approx;
			background-color: transparent;
		}
	}
	@media (max-width: 767px) {
		.navbar-brand {
			padding: 5px 0 5px 15px;
			img {
				height: 35px;
			}
		}
	}

	.navbar-text {
		color: $black;
	}
	.navbar-toggle {
		
		.icon-bar {
			background-color: $blue;


		}
	}

	.navbar-collapse {
		border-color: $color_mercury_approx;
	}

	@media (min-width: 768px) {
		.navbar-collapse {
			margin-top: 50px;
			margin-right: 15px;

			border-color: $color_mercury_approx;
		}
	}

	.navbar-form {
		border-color: $color_mercury_approx;
	}
	.navbar-link {
		color: $black;
		&:hover {
			color: $blue;
		}
	}
	.btn-link {
		color: $black;
		&:hover {
			color: $blue;
		}
		&:focus {
			color: $blue;
		}
	}
	.btn-link[disabled] {
		&:hover {
			color: $color_celeste_approx;
		}
		&:focus {
			color: $color_celeste_approx;
		}
	}
	.navbar-nav > {

		@media (min-width: 768px) {
			li:not(:last-child) {
				border-right: 1px solid $blue;
			}
		}

		li > a {

			color: $black;

			&:hover {
				color: $blue;
				background-color: transparent;
			}
			&:focus {
				color: $blue;
				background-color: transparent;
			}
		}

		@media (min-width: 768px) {

			li > a {

				padding-right: 0px;
				padding-left: 0px;
				padding-bottom: 5px;
				padding-top: 5px;
				margin-right: 10px;
				margin-left: 10px;
			}
		}

		.active > a {

			font-weight: bold;
			color: $blue;
			border-bottom: 3px solid $blue;

			&:hover {
				color: $blue;
			}
			&:focus {
				color: $blue;
			}
		}
		.disabled > a {
			color: $color_celeste_approx;
			background-color: transparent;
			&:hover {
				color: $color_celeste_approx;
				background-color: transparent;
			}
			&:focus {
				color: $color_celeste_approx;
				background-color: transparent;
			}
		}
		.open > a {
			color: $blue;
			background-color: $color_mercury_approx;
			&:hover {
				color: $blue;
				background-color: $color_mercury_approx;
			}
			&:focus {
				color: $blue;
				background-color: $color_mercury_approx;
			}
		}
	}
}
@media(max-width: 767px) {
	.navbar-medtech .navbar-nav .open .dropdown-menu > {
		li > a {
			color: $black;
			&:hover {
				color: $blue;
				background-color: transparent;
			}
			&:focus {
				color: $blue;
				background-color: transparent;
			}
		}
		.active > a {
			color: $blue;
			background-color: $color_mercury_approx;
			&:hover {
				color: $blue;
				background-color: $color_mercury_approx;
			}
			&:focus {
				color: $blue;
				background-color: $color_mercury_approx;
			}
		}
		.disabled > a {
			color: $color_celeste_approx;
			background-color: transparent;
			&:hover {
				color: $color_celeste_approx;
				background-color: transparent;
			}
			&:focus {
				color: $color_celeste_approx;
				background-color: transparent;
			}
		}
	}
}
fieldset[disabled] .navbar-medtech .btn-link {
	&:hover {
		color: $color_celeste_approx;
	}
	&:focus {
		color: $color_celeste_approx;
	}
}

/**
 * Untuk slider di halaman awal saja
 */
// -> http://www.weblinc.com/labs/jquery-parallax/
$corusel-height: 565px;
.header-slider {

	.carousel {

		height: $corusel-height;
		overflow: hidden;
	}

	.carousel-indicators {
		text-align: right;
	}

	.carousel-inner {

		height: $corusel-height;


		.item {
			height: $corusel-height;


			.layer-1 {
				

				background-repeat: no-repeat;
				background-size: cover;
				height: $corusel-height;

			}

			.layer-2 {
				position: absolute;
				margin-left: auto;
				margin-right: auto;
				left: 0;
				right: 0;
				bottom: 0;

				height: $corusel-height;
				width: 100%;

				background-image: url('../img/circle.png');
				background-repeat: no-repeat;
				background-position: center 145px;
			}

			.layer-3 {
				position: absolute;
				margin-left: auto;
				margin-right: auto;
				left: 0;
				right: 0;
				bottom: 55px;
				width: $container-width;
				padding-right: $container-width * 0.5;

				font-size: 30px;
				text-align: left;
				text-shadow: none;
			}
		}
	}
	/* 

	.carousel-inner {
		.item {

			position: relative;

			.layer {
				position: absolute;
				top: 0px;

				&.l1 {
					img {
						width: 100%;
					}
				}
			}

			
		}
	} */
}

/**
 * Untuk header disetiap halaman
 * tapi ini bukan slider
 */
.header-content {
	height: $header-content-height;

	.circle {

		position: absolute;
		height: $header-content-height;
		left: 0;
		right: 0;
		overflow: hidden;
		z-index: 100;

		& > img {
			position: absolute;
			width: 100%;
		}
	}

	@media (max-width: 767px) {
		.circle {
			& > img {
				bottom: -20%;

			}
		}
	}

	@media (min-width: 768px) {
		.circle {
			
			& > img {
				bottom: -210px;

			}
		}
	}

	.image {
		position: absolute;
		overflow: hidden;
		left: 0;
		right: 0;
		height: $header-content-height;
		z-index: 10;

		& > img {
			width: 100%;
		}
	}
}