.wp-caption {

	width: 100% !important;
	position: relative;

	.wp-caption-text {
		background-image: url('../img/dot-blue.png');
		padding: 10px 15px;
		position: absolute;
		width: 100%;
		bottom: 0px;
		color: #FFF;
	}
}

.alignleft {
	display: inline;
	float: left;
}

.alignright {
	display: inline;
	float: right;
}

.aligncenter {
	display: block;
	margin-right: auto;
	margin-left: auto;
}

.content {

	padding-bottom: 100px;



	h3,
	h3 > a {
		color: $blue;
	}

	@media (min-width: 768px) {

		h1 {
			padding-top: 0px;
			padding-bottom: 10px;
			margin: 0px;
		}

		h3 {
			margin: -10px 0px 0px 0px;
			padding-top: 0px;
			padding-bottom: 0px;
			line-height: 1.7;
		}

		h3 > a {
			
			margin: -10px 0px 0px 0px;
			padding-top: 0px;
			padding-bottom: 0px;
			line-height: 1.7;

			&:hover {
				text-decoration: none;
				color: $black;
			}
		}

		p {
			margin: 0px;
			padding-top: 10px;
			padding-bottom: 20px;
			line-height: 1.7;
		}
	}

	.about-us {

		@include article-single;

		& > div {
			border-bottom: 1px solid $blue;
		}
	}

	.news,
	.post {

		@include article-loop;
		@include article-single;

		.item {
			

			&:not(:last-child) {
				border-bottom: 1px solid $blue;
			}

			.img-featured {
				width: 100%;
			}

			.isi {
				.date {
					color: $blue;
				}
			}
		}


	}

	/**
	 * Membership and memberlists
	 */
	.membership {

		@include article-single;
		
		ul {
			color: $blue;
			padding-left: 15px;

			& > li {
				padding: 5px 0;
			}
		}

		.view-members {
			margin-top: 15px;
			margin-bottom: 15px;

			a {

				font-weight: 300;
				font-size: 24px;
			}
		}


	}

	.member-list {

		@include article-single;

		.members {

			padding: {
				bottom: 20px;
				top:10px;
			}

			.item {

				& > img {
					width: 100%;
					border: 2px solid $gray;
				}

				& > figcaption,
				& > .figcaption {

					color: $blue;
					text-transform: uppercase;
					margin-top: 10px;
					margin-bottom: 10px;

					& > img {

					}
				}
			}
		}
	}

	/**
	 * Events
	 */
	.events {

		@include article-loop;
		@include article-single;

		.item {

			
			border-bottom: 1px solid $blue;
			
			h3 {
				padding-bottom: 15px;
			}

			.day-date {
				color: $blue;
				background-image: url('../img/calender.png');
				background-repeat: no-repeat;
				background-position: 0px 0px;
				padding: 3px 0 3px 35px;
				text-transform: uppercase;
			}

			.place {
				color: $blue;
				background-image: url('../img/place.png');
				background-repeat: no-repeat;
				background-position: 4px 0px;
				padding: 3px 0 3px 35px;
			}
		}

		&.detail {
			h1 {

				& > .date {
					color: $blue;
				}
			}

			h2 {

				&.introduction {
					color: $black;
				}
			}

			ul.detailed {

				li {
					background-repeat: no-repeat;
					padding: 5px 0 5px 35px;
					color: $blue;

					a {
						color: $blue;
					}

					&.globe {
						background-image: url('../img/globe.png');
						background-position: 0px 3px;

					}
					&.place {
						background-image: url('../img/place.png');
						background-position: 4px 3px;
					}
					&.calender {
						background-image: url('../img/calender.png');				
						background-position: 0px 3px;
					}


				}
			}

			.register-now {
				margin: 50px 0 70px 0;
			}
		}
	}

	.jobs {

		@include article-loop;
		@include article-single;

		.item {


			border-bottom: 1px solid $blue;

			@media (max-width: 767px) {

				.isi {
					margin-top: 15px;
				}
			}

			.img-featured {
				width: 100%;
				border: 2px solid $gray;
			}
		}

		&.detail {

			@media (min-width: 768px) {

				.img-featured {

					margin-bottom: 40px;
				}
			}

			.register-now {
				margin: 50px 0 70px 0;
			}
		}
	}
}

@media (min-width: 768px) {
	.content {
		padding-right: 45px;
	}
}

.readmore {
	text-transform: uppercase;
	color: $blue;
	padding-top:20px;
	padding-bottom:10px;
	display: inline-block;
	text-decoration: none;

	&:hover,
	&:focus,
	&:active {
		color: $black;
		text-decoration: none;
	}
}

/**
 * Btn-medtech
 */

.btn-medtech-white {
  color: $blue;
  background-color: #FFF;
  border-radius: 0px;
  border-top: 1px solid $gray;
  border-bottom: 1px solid $gray;

  &:hover, 
  &:focus, 
  &.focus, 
  &:active, 
  &.active {
    color: $blue;
    background-color: $gray;
    border-color: $gray;
  }

   &:active, 
   &.active {
    background-image: none;
  }

  &.disabled, 
  &[disabled] {
    background-color: #fff;
    border-color: #ccc;

	  &:hover {
	    background-color: #fff;
	    border-color: #ccc;
	  }

	  &:focus,
	  &.focus {
    	background-color: #fff;
    	border-color: #ccc;
  	  }

	  &:active,
	  &.active {
	    background-color: #fff;
	    border-color: #ccc;
	  }
  }

  .badge {
	  color: #fff;
	  background-color: #333;
	}
}

.btn-medtech {
  color: #FFF;
  background-color: $blue;
  border-color: $blue;
  border-radius: 0px;

  margin: {
  	top: 20px;
  	bottom: 30px;
  }

  &:hover, 
  &:focus, 
  &.focus, 
  &:active, 
  &.active {
    color: #FFF;
    background-color: $blue;
    border-color: $blue;
  }

   &:active, 
   &.active {
    background-image: none;
  }

  &.disabled, 
  &[disabled] {
    background-color: #fff;
    border-color: #ccc;

	  &:hover {
	    background-color: #fff;
	    border-color: #ccc;
	  }

	  &:focus,
	  &.focus {
    	background-color: #fff;
    	border-color: #ccc;
  	  }

	  &:active,
	  &.active {
	    background-color: #fff;
	    border-color: #ccc;
	  }
  }

  .badge {
	  color: #fff;
	  background-color: #333;
	}
}

.open > .dropdown-toggle.btn-medtech {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}

.open > .dropdown-toggle.btn-medtech {
  background-image: none;
}


fieldset[disabled] .btn-medtech {
  background-color: #fff;
  border-color: #ccc;

  	&:hover {
	  background-color: #fff;
	  border-color: #ccc;
	}

	&:focus,
	&.focus {
	  background-color: #fff;
	  border-color: #ccc;
	}

	&:active,
	&.active {
	  background-color: #fff;
	  border-color: #ccc;
	}
}

.btn-back {
	text-align: left;
	background-image: url('../img/arrow-gray-left.png');
	background-repeat: no-repeat;
	background-position: 5px 8px;
	padding-left: 30px;

	&:hover {
		background-image: url('../img/arrow-white-left.png');
	}
}