
body {
	font-family: 'Ubuntu', sans-serif;
}

@import 'variable';
@import 'header';
@import 'content';
@import 'sidebar'; 
@import 'footer'; 

.container.body {
	width: $container-width;
	padding-top: 100px;
}

h1 {
	color: $black;
}

h2 {
	color: $black;
	font-size: 24px;
	font-weight: 300;
}

h3 {
	color: $black;
	font-size: 18px;
}

h4 {
	color: $black;
}

h5 {
	color: $black;
}

h6 {
	color: $black;
}

p {
	color: $black;
}